.sideNav {
    font-family: ShareTech, serif;
    color: white;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0e4d92;
    font-size: 2rem;
    border-right: 4px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
}

.composeButton {
    font-family: ShareTech, serif;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    background-color: #328ef6;
    margin-left: 3vh;
    display: block;
    margin-top: 5vh;
    padding: 1vw;
    font-size: 2rem;
}

.options {
    margin-top: 5vh;
    text-align: left;
    margin-left: 3vh;
}
