.box {
    height: 75px;
    font-family: Roboto, serif;
    border-bottom: 1px solid black;
    overflow: hidden;
    display: block;
    margin: .5rem;
}

.box:hover {
    background-color: #328ef6;
    border: none;
    border-radius: 16px;
    color: white;
    cursor: pointer;
}

.title {
    text-align: left;
    padding: 10px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

.time {
    text-align: left;
    font-size: 0.7rem;
    padding: 10px;
    margin-top: 2px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}