.Compose {
    grid-column: 5 / 13;
    grid-template-columns: repeat(13, 1fr);
    display: grid;
    grid-template-rows: repeat(16, 1fr);
}

.leftBox {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    width: 3fr;
    background-color: #0e4d92;
}

.middleBox {
    grid-column: 6 / 9;
    grid-row: 2 / 4;
    background-color: #051b33;
}

.rightBox {
    grid-column: 10 / 13;
    grid-row: 2 / 4;
    background-color: #328ef6;
}

.text {
    grid-column: 2 / 8;
    grid-row: 5 / 6;
    font-family: Roboto, serif;
    font-size: 1.3rem;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.titleBox {
    grid-column: 2 / 8;
    grid-row: 6 / 7;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 30vw;
    margin-bottom: auto;
    height: 5vh;
    box-sizing: border-box;
}

.contact {
    grid-column: 2 / 8;
    grid-row: 7 / 8;
    font-family: Roboto, serif;
    font-size: 1.3rem;
    margin-top: auto;
    margin-bottom: auto;
}

.message {
    grid-column: 2 / 8;
    grid-row: 9 / 10;
    font-family: Roboto, serif;
    font-size: 1.3rem;
    height: 1fr;
    margin-top: auto;
    margin-bottom: auto;
}

.messageBox {
    grid-column: 2 / 13;
    grid-row: 10 / 15;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

.arrow {
    font-family: ShareTech;
}

/* Dropdown Button */
.dropbtn {
    color: #c4c4c4;
    font-size: 16px;
    text-align: right;
    width: 30vw;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    height: 5vh;
    background-color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    grid-column: 2 / 8;
    grid-row: 8 / 9;
    color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 30vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #c4c4c4;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: green;
} */

.composeButton {
    font-family: ShareTech, serif;
    color: white;
    border-radius: 40px;
    border: 0px solid;
    background-color: #0e4d92;
    grid-column: 11 / 13;
    grid-row: 15 / 16;
    margin-top: 15px;
    font-size: 1.2rem;
}
