.container {
    background-color: white;
    opacity: .99;
    border-radius: 12px;
    height: 50vh;
    width: 50vw;
    display: grid;
}

.displayimage {
    height: 15vh;
    justify-self: center;
}

.close {
    display: grid;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    border: none;
    justify-self: end;
    margin: .5rem;
    cursor: pointer;
}

.close img {
    height: 25px;
    justify-self: center;
    align-self: center;
    width: 25px;
}

.buttonContainer {
    align-self: end;
    display: grid;
    justify-self: end;
    padding: 1rem;
}

.next {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    display: grid;
    grid-row: 1;
    margin: .5rem;
}

.last {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: none;
    display: grid;
    grid-row: 1;
    margin: .5rem;
}

.next img {
    height: 25px;
    width: 25px;
    transform: rotate(-90deg);
    justify-self: center;
    align-self: center;
}

.last img {
    height: 25px;
    width: 25px;
    transform: rotate(90deg);
    justify-self: center;
    align-self: center;
}